@{
    ViewData["Title"] = "Home Page";
}

<h1>Salary Report</h1>

@*<button class="btn btn-primary" href="../Home/EmployeeSalaryInfo" target="_blank"> Salary Report</button>*@
<a class="btn btn-primary" href="../Home/EmployeeSalaryInfo" target="_blank">
    Salary Report
</a>


<a class="btn btn-primary" href="../Home/SubReportPrint" target="_blank">
    Employee Report
</a>
